*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: sans-serif;
}
body,html{
    background: rgb(47, 45, 45);
}
.photo{
    width: 350px;
}
.textos h2{
    margin-top: 30px;
}
.imagens img{
width: 200px;
margin-top: 20px;
}
.btn {
    width: 300px;
    height: 60px;
    font-size: 18px;
    background: #4d04b3;
    border: none;
    border-radius: 50px;
    color: #ffffff;
    outline: none;
    cursor: pointer;
    margin-top: 30px;
    transition: all 0.4s;
  }
  
  .btn:hover {
    box-shadow: inset 0 0 0 4px #ef476f, 
                inset 0 0 0 8px #ffd166, 
                inset 0 0 0 12px #06d6a0,
                inset 0 0 0 16px #118ab2;
    background: #073b4c;
    color: #fff;
  }